---
import type { CollectionEntry } from "astro:content";
import ImageCarousel from "../components/ImageCarousel.astro";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
---

<div class:list={["project-item"]}>
  <ImageCarousel images={project.data.carouselImages} id={project.id} />
  <h3>{project.data.title} ({project.data.pubDate.getFullYear()})</h3>
  <p>{project.data.description}</p>
  <span class="links">
    <a href={project.data.githubLink}>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon"
        viewBox="0 0 512 512"
        ><path
          fill="currentColor"
          d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"
        ></path></svg
      >
      <span>Visit Code</span>
    </a>
    <a href={project.data.liveLink}
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon"
        viewBox="0 0 512 512"
        ><path
          d="M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208 208-93.13 208-208S370.87 48 256 48z"
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="32"></path><path
          d="M256 48c-58.07 0-112.67 93.13-112.67 208S197.93 464 256 464s112.67-93.13 112.67-208S314.07 48 256 48z"
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="32"></path><path
          d="M117.33 117.33c38.24 27.15 86.38 43.34 138.67 43.34s100.43-16.19 138.67-43.34M394.67 394.67c-38.24-27.15-86.38-43.34-138.67-43.34s-100.43 16.19-138.67 43.34"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"></path><path
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M256 48v416M464 256H48"></path></svg
      >
      <span>Visit Site</span>
    </a>
  </span>
</div>

<style>
  .project-item {
    margin-left: 1.2rem;
  }

  .project-item p {
    margin: 0;
    margin-bottom: 1.2rem;
  }

  .project-item h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
  }

  .links a {
    font-style: italic;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;

    line-height: 16px;
  }

  .links a svg {
    width: 16px;
    height: 16px;
  }

  .links path {
    color: var(--accent);
  }

  .links a:hover {
    font-weight: 600;
  }
</style>
